*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  line-height:1.6;
}
.navheader{
  position: fixed;
  width: 100%;
  min-height: 60px;
  max-height: 60px;
  padding: 5px 20px;
  background: #07070d;
}
.navcontainer{
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  float: left;
  text-decoration: none;
  padding-left: 20px;
}
.menu li{
  display: inline-block;
  list-style: none;
}
.menu li a{
  display: block;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  padding: 5px 20px;
  margin: 0 5px;
  position: relative;
  text-decoration: none;
}
.menu li a::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background:#593636 ;
  transform: scaleX(0);
  transition: 0.3s;
}
.menu li a:hover::before {
  transform: scaleX(1);
}
nav label.hamburger{
  font-size: 35px;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 9;
  transition: 0.3s;
  display: none;
}
nav label.hamburger:hover{
color:#593636 ;
}
#menuBtn{
  display: none;
}
/*media screen styling for navigation effective below 768px*/
@media only screen and (max-width: 768px){
  nav label.hamburger{
      display: block;
  }
  nav ul{
      position: fixed;
      top: 60px;
      left: 0;
      width: 100%;
      height: calc(100vh - 60px); ;
      background: #191726;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transform: translateX(-100%);
      transition: 0.3s;
  }
  .menu li{
      margin: 10px 0;
  }
  .menu li a{
      display: block;
      font-size: 20px;
      padding: 15px 25px;
  }
  #menuBtn:checked ~ ul{
      transform: translateX(0);
  }
}
.showcase{
  color:rgb(250, 245, 245);
  line-height:1.6;
  overflow:hidden;
  background-image:url("images/index_background.jpg");
  background-size:cover;
  background-position:center;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:20px;
}
.showcase h1{
  font-family: 'Roboto-Slab', serif;
  font-size:60px;
  font-weight: 900;
  line-height:1.2;
  padding-bottom: 50px;
}
.container{
  display:grid;
  grid-auto-flow: column;
  justify-content: center;
  width: 100%;
}
.button{
  font-size:18px;
  display: inline-block;
  justify-content: center;
  font-weight: 400;
  text-decoration:none;
  color:#fff;
  border:#fff 1px solid;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  padding:10px;
}
.button:hover{
  background:#191726;
  color:#fff;
}
/*media screen styling for showcase effective below 768px*/
@media only screen and (max-width: 768px) {
  .container {
    width: 60%;
    grid-template-columns: 1fr;
    column-gap: 30px;
  }
  .button {
    width:60%;
    margin: 5px;
  }
}
.slider-container {
  background: linear-gradient(
    149deg,
    #191726 20%,
    #593636 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.slider {
  max-width: 800px;
  height: 400px;
  margin: 40px;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  border: solid 1px #191726;
  box-shadow: -2px -2px 10px 4px rgba(0, 0, 0, 0.537);
}
.slides {
  display: flex;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.slide:nth-of-type(even) {
  background-color:#191726;
}
.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 400px;
  scroll-snap-align: center;
  margin-right: 0px;
  box-sizing: border-box;
  background:#191726;
  transform-origin: center center;
  transform: scale(1);
}
.slide__text {
  font-size:30px;
  padding: 60px;

}
.slide a {
  background: none;
  border: none;
}
a.slide__prev,
.slider::before {
  transform: rotate(135deg);
  left: 2%;
}
a.slide__next,
.slider::after {
  transform: rotate(-45deg);
  right: 2%;
}
.slider::before,
.slider::after,
.slide__prev,
.slide__next {
  position: absolute;
  top: 45%;
  width: 30px;
  height: 30px;
  border: solid rgb(245, 240, 240);
  border-width: 0 4px 4px 0;
  padding: 3px;
  box-sizing: border-box;
}
.slider::before,
.slider::after {
  content: "";
  z-index: 1;
  background: none;
  pointer-events: none;
}
.slider__nav {
  box-sizing: border-box;
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}
.slider__navlink {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: rgba(188, 170, 170, 0.516);
  margin: 0 15px 0 15px;
}
.slide img {
  height: 400px;
  width: 300px;
}
.links{
  text-decoration: none;
  color: white;
}
.links:hover {
  color:rgba(215, 203, 203, 0.516);
}
/*media screen styling for slider effective below 768px*/
@media only screen and (max-width: 600px) {
  .slider {
  max-width: 85%;
  height: 250px;
  margin: 20px;
  }
  .slide {
  height: 250px;
  }
  .slide img {
  height: 250px;
  width: 180px;
  }
  .slide__text {
  font-size: 18px;
  padding: 40px;
  }
  .slider__nav {
  width: 150px;
  margin-left: -75px;
  }
  .slider__navlink {
    margin: 0 10px 0 10px;
    height: 10px;
    width: 10px;
  }
  .slider::before,
  .slider::after,
  .slide__prev,
  .slide__next {
    width: 15px;
    height: 15px;
  }

} 
.main {
  background: linear-gradient(
    149deg,
    #191726 20%,
    #593636 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  color:#fff
}
.layout-container {
  margin: 10%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.left-col {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  background-color: #323232;
  padding: 30px;
}
.gallery img {
  height: 300px;
  width: 250px;
  float: left;
  margin-right: 20px;
  border:#07070d 5px solid;
}
.gallery-aside img {
  height: 300px;
  width: 250px;
  float: left;
  margin-right: 20px;
  border:#07070d 5px solid;
}
.top-right-row {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #323232;
  padding: 1rem;
}

.middle-right-row {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #323232;
  padding: 1rem;
}

.bottom-right-row {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-color: #323232;
  padding: 1rem;
}
.footer {
  background-color:#07070d;
  color:#fff;
  display: flex;
  align-items: center;
  padding: 20px;
}
.footer-left,
.footer-center,
.footer-right {
  flex: 3;
}
.separator {
  border-left: 1px solid #fff;
  height: 120px;
  margin: 0 30px;
}
.footer-center ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-center ul a {
  position: relative;
  display: inline-block;
  font-size: 10px;
}
.footer-center ul a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: #593636;
  transform: scaleX(0);
  transition: 0.3s;
}
.footer-center ul a:hover::before {
  transform: scaleX(1);
}
.footer-left a {
  float: right;
  padding: 40px;
}
.contact {
  font-size: 10px;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.contact-icons a{
  display:inline-block;
  cursor: pointer;
  text-decoration: none;
}
.contact-icons img {
  width: 20px;
  height: 20px;
}
@media only screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
  }
  .separator {
    display: none;
  }
  .footer-left,
  .footer-center,
  .footer-right {
    flex: 1;
    text-align: center;
    margin: 0px;
    padding: 5px;
  }
  .footer-left a {
    float: none;
  }
  .footer-center ul a {
    margin: 0px;
    padding: 5px;
  }
}
